//Company Colors
$yellow: #E8AB42;
$blue: #005C85;
$light-grey: #CEC7B7;
$dark-grey: #2F3634;
$pagebg: #D6D4CF;
$bordercolor: #707070;

//blue filter filter: invert(22%) sepia(57%) saturate(2254%) hue-rotate(174deg) brightness(96%) contrast(102%);