.yellow-cta {
    padding: 80px 0;
    background: $yellow;
    border-top: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;

    h2 { font-size: 60px; }
}

.customer-login-home {
    padding: 80px 0;
    background: $yellow;
    border-top: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;

    .content-area {
        display: flex;
        align-items: center;

        .btn-area {
            padding-top: 25px;
        }
    }
}